<h2>All your trips</h2>

<% @trips.each do |t| %>
  <div class = "bg-white shadow m-3 p-3">
    <p><%= t.destination %></p>
    <p><strong>From: </strong><%= t.start_date %></p>
    <p><strong>To: </strong><%= t.end_date %></p>
    <p><%= link_to "See details about the trip", trip_trip_activities_path(t) %></p>
  </div>
<% end %>
