<h4>All your chatrooms!</h4>

<% @chats.each do |chat| %>
  <% user = User.find(chat.user_id) %>
  <p>Chat with <%= user.firstname %> <%= user.lastname %></p>
  <p><%= link_to "See chat", chatroom_path(chat) %>
<% end %>
