.act-h2 {
  margin-left: 20px;
}
.link-back-home > a {
  margin-left: 20px;
  text-decoration: none;
  color: #9BBDC5;
}

.link-back-home > a:hover {
  color:  black;
}

.container-index h2 {
  text-align: center;
  margin-top: 20px;
}

.link-back-home {
  text-decoration: none;
  color: #9BBDC5;
  text-align: center;
  margin-top: 40px;
}

.link-back-home:hover {
  color:  black;
}

.card-home-index-page {
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  // width: 50%;
  margin: 40px;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.activity-index-page img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0% 15%;
}

.activity-index-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.inner-text-card {
  color: black;
  text-decoration-line: none!important;
}
a {
  text-decoration-line: none!important;
}

.card-home-index-page:hover {
  box-shadow: 4px 4px 10px 4px #9bbdc59f;
  color: white;
}

.button-index-page {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 38px;
  color: black;
  background-color: #9BBDC5;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
}

.button-index-page:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: white;
  background-color: #9BBDC5;
}

.name-activity-home-page {
  margin-left: 10px;
}
