.act-h2 {
  margin-left: 20px;
}
.link-back-home > a {
  margin-left: 20px;
  text-decoration: none;
  color: #9BBDC5;
}

.link-back-home > a:hover {
  color:  black;
}

.link-p > a {
  text-decoration: none;
  color: #9BBDC5;
}

.link-p > a:hover {
  color:  black;
}
