// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

body {
  background-color: #F6F1EF ;

}

.form-from-home {
  margin-right: 11px;
}

.div-input {
  display: flex;
  justify-content: center;
  margin-right: 6px;
}

.div-text {
  text-align: center;
}

.carousel-inner {
  padding-left: 40px;
  padding-right: 40px;
}
