// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 500px;
}

.banner h1 {
  margin-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  font-weight: bold;
}


.circle-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(309deg, #23180b94 23.96%, #23180b6f 51.56%, #23180b36 79.69%);
  // background-color: #23180b ;
  // opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datecalendar > label {
  color: rgb(0, 0, 0);
}

body {
  background-color: #F6F1EF;
}

.form-from-home {
  margin-right: 11px;
}

.input-to-home {
  margin-right: 5px;
}

.btn-banner {
  width: 70px;
  height: 38px;
  background-color: #9BBDC5;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  color: black;
}

.btn-banner:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: white;
}


.carousel-inner {
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0% 15%;
}

.date-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px 0;
  width: 390px;
  height: 35px;
}

.container-date {
  display: flex;
  justify-content: center;
}
