
.container-activity {
  display: flex;
  padding: 40px;
}

.description-price-activity h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.description-price-activity {
  width: 100%;
}

.reviews-show-page {
 background-color: #F6F1EF;
 border-style: solid;
 border-color: #DCCFBB;
 border-radius: 5px;
 margin-bottom: 20px;
}

.reviews-show-page p {
margin-left: 20px;
margin-top: 15px;
}

.container-add-to-trip-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 550px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px;
  position: sticky;
  top: 30px;
  margin-left: 100px;
}

.form-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-show-line {
  display: flex;
  flex-direction: column;
  // gap: 10px;
}

.price-show-page {
  margin-bottom: 10px;
}


.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4698) 23.96%, rgba(0, 0, 0, 0.081) 51.56%, rgba(0, 0, 0, 0.1215) 79.69%);  // background-color: rgba(67, 67, 67, 0.162);
}

.carousel-caption h1 {
  margin-top: 50px;
}

.fas {
  color: #FFB900;
}
