<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(<%= image_path('banner.png') %>)">
  <div class="container text-center">
    <h1>Travel to the unknown</h1>

    <form action = "/activities">
      <div class = "form-banner d-flex justify-content-center my-1 form-from-home" >
          <div class = "datecalendar">
            <label for="arrive_date">From: </label>
          </div>
          <div class="datecalendar">
            <input type="date" name="arrive_date" min="2023-06-09" value="2023-06-09" id="arrive_date" class="input-home">
          </div>
      </div>

      <div class = "form-banner d-flex justify-content-center mb-1 px-2">
        <div class = "datecalendar m-1">
          <label for="date">To:</label>
        </div>
        <div class="datecalendar">
          <input type="date" name="date" value="2023-06-10" id="date" class="input-home">
        </div>
      </div>

      <div class="div-input">
        <%# <input type="submit" value="Search →" class="btn"> %>
        <input placeholder="Where?" type="location" name="location" id="location">
        <button class="btn-banner">Go</button>
      </div>
    </form>
  </div>
</div>
