<div class="card-container">
  <div class="card-img">
    <%= image_tag("elephant.jpg") %>
  </div>
  <div class="card-info">
    <div class="card-name">
      <h4>Snowmobile Tour on <br>Langjolkull Glacier<h4>
    </div>
    <div class="card-location">
      <p><i class="fa-solid fa-map-pin"></i> Iceland</p>
      <p><i class="fa-solid fa-tag"></i> 150$</p>
    </div>
  </div>
</div>
