<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>

  </div>
  <div class="name-footer">
    <em>Made by Danella, Etienne, Florian and Etienne</em>
  </div>
  <div class="footer-copyright">
      ©LeWagon Montreal
  </div>
</div>
