<% total_price = 0 %>

<div class = "bg-white shadow border p-2">

  <h2>Checkout cart</h2>

  <% @activity_ids.each_value do |id_trav| %>
      <% activity = Activity.find(id_trav[0]) %>
      <% price = activity.price * id_trav[1].to_i %>
      <p><strong><%= activity.name %>:</strong> <%= price.to_i %> CAD<p>
      <% total_price += price %>
  <% end %>
    <h4><strong>Total price:</strong><%= total_price.to_i %></h4>
</div>

<%= link_to "Book now!", trips_path(trip: Trip.new, destination: @location, #activity_id: @activity_ids,
 end_date: @end_date, start_date: @start_date),
      data: {turbo_method: :post} %>
