<%# <div class="div-explore"> %>
<h1 class="text-center my-4"><strong>Explore</strong></h1>
<%# </div> %>

<div class="shadow border d-flex align-items-center div-map"
  style="width: 90%; height: 600px; margin-left: auto; margin-right: auto;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
