<%= render "shared/banner" %>

<div class="div-text">
  <h1>Welcome to OUVA</h1>
  <p>The app that helps you plan the best trip of ur life!</p>

  <%= link_to "Planify a trip", new_trip_path %>
</div>

<form action = "/activities">
 <div class="div-input">
  <input placeholder="Where?" type="location" name="location" id="location">
 </div>
 <div class = "form-banner d-flex justify-content-center my-1 form-from-home" >
    <div class = "datecalendar">
      <label for="arrive_date">From: </label>
    </div>
    <div class="datecalendar">
      <input type="date" name="arrive_date" min="2023-06-02" value="2023-06-02" id="arrive_date" class="input-home">
    </div>
 </div>

  <div class = "form-banner d-flex justify-content-center mb-1 px-2">
    <div class = "datecalendar m-1">
      <label for="date">To:</label>
    </div>
    <div class="datecalendar">
      <input type="date" name="date" value="2023-06-03" id="date" class="input-home">
    </div>
  </div>
</form>

<div class="text-center">
  <h2>Most Popular Activities</h2>
</div>

<%= render "shared/card" %>

<div class="text-center">
  <h2>Unsure Where To Go? Explore</h2>
</div>
