<h1>Welcome to OUVA</h1>
<p>The app that helps you plan the best trip of ur life!</p>

<form action = "/activities">
 <input placeholder="Where?" type="location" name="location" id="location">
</form>
