

#card-image-top {
  height: 400px;
}

.card-home {
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  width: 50%;
  margin: 40px;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.inner-text-card {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cards-location p {
  // text-align: right;
  margin-right: 10px;
  width: 100%;
}


.cards-price p {
  text-align: right;
  margin-right: 10px;
}


.card-home h4 {
  margin-left: 10px;
  // width: 95%;
}
