

#card-image-top {
  // background-repeat: no-repeat;
  // background-size: contain;

  height: 400px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // max-height: 210px !important;
  // max-width:100%;
  // max-height:100%;
  // display: block;
  // margin: auto;
}

.card-home {
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  width: 50%;
  margin: 40px;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.inner-text-card {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cards-location p {
  text-align: right;
  margin-right: 10px;
  width: 100%;
}


.cards-price p {
  text-align: right;
  margin-right: 10px;
}


.card-home h4 {
  margin-left: 10px;
  width: 80%;
}


// .card-info {
//   height: 104px;
// }

// .card-info {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0;
//   // margin-top: 20px;
// }

// .card-name {
//   margin-left: 30px;
// }

// .card-location {
//   margin-right: 46px;
// }

// h4, p {
//   margin: 0;
// }
