.link-login > a, .link-sign-up > a, .link-reset > a {
  text-decoration: none;
  color: #9BBDC5;
}

.link-login > a:hover {
  color:  black;
}

.link-sign-up > a:hover {
  color:  black;
}
.link-reset > a:hover {
  color:  black;
}
