.link-login > a, .link-sign-up > a, .link-reset > a {
  text-decoration: none;
  color: black;
}

.link-login > a:hover {
  color:  #9BBDC5;
}

.link-sign-up > a:hover {
  color:  #9BBDC5;
}
.link-reset > a:hover {
  color:  #9BBDC5;
}
