.navbar-lewagon {
  justify-content: space-between;
  background: #F6F1EF;
  // background: red;
}

.logo {
  width: 120px;
  position: relative;
  left: -12px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}
