<h2><%= activity.name %></h2>
<%= cl_image_tag activity.photo.blobs[0].key, crop: :fill, class: "avatar" %>
<p><%= activity.location %></p>
<%= link_to "See this activity", activity_path(activity) %>
